<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
  <h1>Sistema de Monitoramento de Saúde Comunitária</h1>
</header>

<nav>
  <a href="/">Home</a>
  <a href="/sobre">Sobre</a>
  <a href="/cadastro">Cadastrar Serviço</a>
  <a href="/servicos">Ver Serviços</a>
</nav>

 <div style="max-width: 700px; margin: 0 auto; text-align: justify; line-height: 1.6;">
  <p>
    Este sistema visa ajudar no acompanhamento dos serviços de saúde prestados à comunidade, em alinhamento com o Objetivo de Desenvolvimento Sustentável nº 3 da ONU, que busca garantir saúde e bem-estar para todos.
  </p>

  <div style="text-align: center; margin-top: 20px;">

<main>

 {{{body}}} 

 </main>
</body>
</html>
